{% load static %}

<section class="py-5 bg-light" id="service">
    <div class="container text-center">
        <h2 class="fw-bold mb-5 inter">Nossos Serviços</h2>
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <div class="icon color-main text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width:60px; height:60px;">
                            <i class="bi bi-wallet2 fs-3"></i>
                        </div>
                        <h5 class="fw-bold">Controle de gastos</h5>
                        <p class="text-muted">Monitore seus gastos e mantenha o controle financeiro.</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <div class="icon color-main text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width:60px; height:60px;">
                            <i class="bi bi-calendar-check fs-3"></i>
                        </div>
                        <h5 class="fw-bold">Orçamento Mensal</h5>
                        <p class="text-muted">Crie orçamentos mensais e acompanhe sua evolução.</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <div class="icon color-main text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width:60px; height:60px;">
                            <i class="bi bi-graph-up-arrow fs-3"></i>
                        </div>
                        <h5 class="fw-bold">Análise financeira</h5>
                        <p class="text-muted">Obtenha insights detalhados sobre sua situação financeira.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
